@model ProductVM

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "AddProduct")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (Product item in Model.Products)
    {
        <tr>
            <td>@item.ID</td>
            <td>
                @item.ProductName
            </td>
            <td>@item.UnitPrice</td>
            <td>@item.UnitsInStock</td>
            @if (item.Category == null)
                {
                    <td>Kategorisi Belirtilmemiş</td>
            }
            else
            {
                    <td>@item.Category.CategoryName</td>
            }
            <td>
                @Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.ID }) |
                @Html.ActionLink("Detay", "ProductDetails", new { id = item.ID }) |
                @Html.ActionLink("Sil", "DeleteProduct", new { id = item.ID })
            </td>
        </tr>
    }

</table>
