@model ShoppingVM

@{
    ViewBag.Title = "ShoppingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sepet Sayfası</h2>

<table class="table">

    @if (Model.Cards.Count == 0)
    {
        <p>Sepetinizde ürün bulunmamaktadır.</p>
    }
    else
    {
        decimal totalPrice = 0m;


        foreach (CartItem item in Model.Cards)
        {

            totalPrice += item.Price;
            <tr>
                <td>
                    @if (item.ImagePath != null)
                    {
                        <h4><b>Fotoğraf:</b><img src=" @item.ImagePath" width="128" height="128"></h4>

                    }
                    <h3>Ürün Adı: @item.Name</h3>
                    <h3>Ürün Fiyatı: @item.Price</h3>
                    @Html.ActionLink("Sepetten Çıkar", "DeleteFromCart", new { id = item.ID })

                </td>
            </tr>
        }
        <tr>
            <h2>Toplam Fiyat:    @totalPrice</h2>
        </tr>

        @Html.ActionLink("Alışverişi Tamamla", "ConfirmOrder" )

    }


</table>
